# Pandas csv Data Cleaning

https://towardsdatascience.com/the-simple-yet-practical-data-cleaning-codes-ad27c4ce0a38

In [68]:
import pandas as pd
import numpy as np
import seaborn as sns

iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Manipulate Columns
### Get Column List

In [69]:
list(iris)

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

### Drop a Column

In [70]:
iris.drop(['sepal_length'], axis=1, inplace=True)
iris.head()

   sepal_width  petal_length  petal_width species
0          3.5           1.4          0.2  setosa
1          3.0           1.4          0.2  setosa
2          3.2           1.3          0.2  setosa
3          3.1           1.5          0.2  setosa
4          3.6           1.4          0.2  setosa

### Change Column Type & Add New Column

In [71]:
iris['new1'] = iris['sepal_width'].astype('float32')
iris.head()

   sepal_width  petal_length  petal_width species  new1
0          3.5           1.4          0.2  setosa   3.5
1          3.0           1.4          0.2  setosa   3.0
2          3.2           1.3          0.2  setosa   3.2
3          3.1           1.5          0.2  setosa   3.1
4          3.6           1.4          0.2  setosa   3.6

### Replace Values in a Column

In [72]:
print(set(iris['species']))
iris["species_encode"] = iris["species"]
num_encode = {'species_encode' : {'versicolor':0, 'setosa':1, 'virginica':2}}  
iris.replace(num_encode, inplace=True)
iris.head()

{'versicolor', 'setosa', 'virginica'}

   sepal_width  petal_length  petal_width species  new1  species_encode
0          3.5           1.4          0.2  setosa   3.5               1
1          3.0           1.4          0.2  setosa   3.0               1
2          3.2           1.3          0.2  setosa   3.2               1
3          3.1           1.5          0.2  setosa   3.1               1
4          3.6           1.4          0.2  setosa   3.6               1

## Check Values
### check missing data for each column

In [73]:
# iris.isnull(): get False/True values in the dataframe
iris.isnull().sum().sort_values(ascending=False)

species_encode    0
new1              0
species           0
petal_width       0
petal_length      0
sepal_width       0
dtype: int64

### initialize a column with the same value

In [74]:
iris["str"] = "          turtle_turtle"
iris.head()

,sepal_width,petal_length,petal_width,species,new1,species_encode,str
0,3.5,1.4,0.2,setosa,3.5,1,turtle_turtle
1,3.0,1.4,0.2,setosa,3.0,1,turtle_turtle
2,3.2,1.3,0.2,setosa,3.2,1,turtle_turtle
3,3.1,1.5,0.2,setosa,3.1,1,turtle_turtle
4,3.6,1.4,0.2,setosa,3.6,1,turtle_turtle

### String Regex

In [75]:
# remove a portion of string in a dataframe column - col_1
iris['str'].replace('\n', '', regex=True, inplace=True)

# remove all the characters after &# (including &#) for column - col_1
iris['str'].replace(' &#.*', '', regex=True, inplace=True)

# remove white space at the beginning of string 
iris['str'] = iris['str'].str.lstrip()

iris.head()

,sepal_width,petal_length,petal_width,species,new1,species_encode,str
0,3.5,1.4,0.2,setosa,3.5,1,turtle_turtle
1,3.0,1.4,0.2,setosa,3.0,1,turtle_turtle
2,3.2,1.3,0.2,setosa,3.2,1,turtle_turtle
3,3.1,1.5,0.2,setosa,3.1,1,turtle_turtle
4,3.6,1.4,0.2,setosa,3.6,1,turtle_turtle

### Concatenate two columns with strings (with condition)

In [76]:
mask = iris['species'].str.endswith('tosa', na=False)
iris["concat"] = 0
iris["concat"][mask] = iris[mask]['species'] + "___" + iris[mask]['str']
iris["concat"][mask].replace('pil', ' ', regex=True, inplace=True)
iris.head()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,sepal_width,petal_length,petal_width,species,new1,species_encode,str,concat
0,3.5,1.4,0.2,setosa,3.5,1,turtle_turtle,setosa___turtle_turtle
1,3.0,1.4,0.2,setosa,3.0,1,turtle_turtle,setosa___turtle_turtle
2,3.2,1.3,0.2,setosa,3.2,1,turtle_turtle,setosa___turtle_turtle
3,3.1,1.5,0.2,setosa,3.1,1,turtle_turtle,setosa___turtle_turtle
4,3.6,1.4,0.2,setosa,3.6,1,turtle_turtle,setosa___turtle_turtle

### Convert timestamp(from string to datetime format)

In [67]:
iris["time"] = "2019-02-11 23:59:12.6"
iris.insert(loc=2, column='timestamp', value=pd.to_datetime(iris.time, format='%Y-%m-%d %H:%M:%S.%f')) 
iris.head()

ValueError: cannot insert timestamp, already exists